.row-full{
	max-width: 100%;
}
body{
	background-color: #F9F9F9;
}
.breadcrumbs{
	margin: 0 0 0 15px;
	padding: 10px 0;
	border-bottom: 1px solid #eee;
}
label{
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
	font-size: 0.8em;
}
input[type="text"], 
input[type="date"],
select,
textarea{
	font-size: 0.8em;
	font-family: 'Open Sans', sans-serif;
}

h1{
	margin: 0;
	background: #000;
	font-family: 'Source Sans Pro', sans-serif;
	color: #fff;
	font-weight: bold;
	font-size: 2em;
	padding: 10px;
}
h2{
	margin: 0 0 10px 0;
	padding: 15px 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	color: #333333;
	font-size: 1.8em;	
	border-bottom: 1px solid #EEE;
}
h3{
	font-size: 1.5em;
	font-family: 'Roboto', sans-serif;
	color: #333333;
}
table thead th,
table tbody td,
table tbody td a{
	font-size: 0.9em;
}
#top-menu{
	margin-top: 10px;
}
#top-menu li a{
	color: #929292;
	font-size: 0.9em;
}
#sidenav{
	height:100%;
	display:block;
	background-color: #2F323A;
}
#sidenav li a{
	font-family: 'Source Sans Pro', sans-serif;
	background-color: #2F323A;
	color: #fff;
	font-size: 0.9em;
}
#sidenav > li:first-child a{
	background-color: #111111;
}

#sidenav > li > a{
	
	border-bottom: 1px solid #202228;
	border-top:1px solid #343741;
}
#sidenav > li:first-child > a{
	border-top: 0;
}
#sidenav > li:last-child > a{
	border-bottom: 0;
}

#sidenav > li > a.active,
#sidenav > li > a:hover{
	background-color: #202228;
}
#sidenav .menu.nested{
	margin-left: 0;

}
#sidenav .menu.nested li a{
	background-color: #3e424c;
}